html {
    --side-margin: 40px;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family);
    color: rgba(68, 66, 70, 1);

}

* {
    box-sizing: border-box;
    outline: none;
}